body
{
    margin: 0px;
    overflow: hidden;
}
#d1
{
    z-index: 3;
    position:fixed;
    top: 20px;
    left: 20px;
    background-color: #1D2B36;
    width: max-content;

}
text{
    color: #D35944;
}
div
{
    margin: 20px;
    display: inline-block;
    color: #FDE6B0;
    font: small-caps bold 20px/1 sans-serif;
    text-align: left;
    text-overflow: clip;
    text-shadow: #D35944 2px 2px;
}
#c1
{
    z-index: 1;
    position: absolute;
}#c2
{
    z-index: 2;
    position: absolute;
}