body
{
    margin: 0px;
    overflow: hidden;
}
#d1
{
    z-index: 3;
    position:fixed;
    top: 20px;
    left: 20px;
    background-color: #1D2B36;
    width: max-content;
}
#d3
{
    z-index: 3;
    position:fixed;
    bottom: 20px;
    left: 20px;
    background-color: #1D2B36;
    width: max-content;
}
#d4
{
    z-index: 3;
    position:fixed;
    top: 20px;
    right: 20px;
    background-color: #1D2B36;
    width: max-content;
}
text{
    color: #D35944;
}
#infoText
{
    color: #FDE6B0;
    text-shadow: #D35944 2px 2px;
    white-space: pre-line;
}
div
{
    margin: 20px;
    display: inline-block;
    color: #FDE6B0;
    font: small-caps bold 20px/1 sans-serif;
    text-align: left;
    text-overflow: clip;
    text-shadow: #D35944 2px 2px;
}
#c1
{
    z-index: 1;
    position: absolute;
}#c2
{
    z-index: 2;
    position: absolute;
}
button
{
    border: none;
    cursor: pointer;
    background-color: inherit;
    transition: transform .3s ease-in-out;
    width: 25px;
    height: 25px;

}
button:hover
{
    transform: scale(1.5,1.5);
    
}
#impStarSignText
{
    margin-top: 15px;
    border: 2px solid;
    width:  85%;
    height: 25px;
    color: #D35944;
    font: small-caps bold 20px/1 sans-serif;
    text-align: center;
    background-color: inherit;
    border-radius: 6px;
}
#impStarSign
{
    margin-left: 14px;
}
#impStarSign:hover
{
    transform: rotate(360deg);
}
#expStarSign:hover
{
    transform: rotate(360deg);
}
img
{
    width: 15px;
    height: 15px;
}
.slider {
    margin-left: 10px;
    -webkit-appearance: none;
    appearance: none;
    width: 65%;
    height: 10px;
    border-radius: 10px;  
    background: #D35944;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #FDE6B0;
    cursor: pointer;
    transition: transform .3s ease-in-out;
}
.slider::-webkit-slider-thumb:hover
{
    transform: scale(1.5,1.5);
}
.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #FDE6B0;
    cursor: pointer;
    transition: transform .3s ease-in-out;
}
.slider::-moz-range-thumb:hover
{
    transform: scale(1.5,1.5);
}
#speedText
{
    margin-left: 10px;
    color: #FDE6B0;
    text-shadow: #D35944 2px 2px;
}
#color
{
    opacity: 0;
    width: 64px;
    height: 32px;
}
#color-wrapper
{
    border-radius: 20%;
    border-style: solid;
    border-width:5px;
    border-color: #FDE6B0;
}
#signList
{
    opacity: 0;
    margin-left: 10px;
    height:200px; width: max-content;
    padding-right: 20px;
    overflow:hidden; overflow-y:scroll;
    list-style-type:none;
    font-size: 30px
}

::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 10px;  
    background: #D35944;
  }
   
  ::-webkit-scrollbar-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #FDE6B0;
  }

  input[type="checkbox"] {
    appearance: none;
    background-color: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border: 2px solid #FDE6B0;
    border-radius: 50%;
  }
  
  input[type="checkbox"]:checked {
    background-color: #D35944;
  }